.container {
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 232, 235, 0.8);
  }
  
  p {
    font-size: 25px;
    font-weight: 700;
    margin-left: 25px;
    padding-top: 30px;
    color: #333;
  }
  
  table {
    min-width: 98%;
    margin: 20px;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 5px;
  }

  .status-container {
    display: flex;
    align-items: center;
  }
  
  .select {
    height: 36px;
    border-radius: 5px;
  }
  
  button {
    margin-left: 10px;
    background-color: #40aab2;
    border-radius: 5px;
  }