.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 232, 235, 0.8);
  }
  
  .card {
    width: 100%;
    max-width: 1000px;
    background-color: #f5f5f5;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #40aab2;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
  }
  