<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title><h4>Serviços</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button>Massoterapia</button>
      <button mat-raised-button>Geriatria</button>
      <button mat-raised-button>Traumato-ortopedia</button>
      <button mat-raised-button>Acupuntura</button>
      <button mat-raised-button>Quiropraxia</button>
      <button mat-raised-button>Neurofisioterapia</button>
    </mat-card-content>
  </mat-card>
</div>
