.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center; /* Move o card para o topo */
  align-items: center;
  background-color: rgba(224, 232, 235, 0.8);
  padding-top: 10px; /* Ajuste o valor para o espaçamento desejado do topo */
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 2rem;
  background-color: #40aab2;
}

.card mat-card-header {
  margin-bottom: 20px;
}

.card mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card mat-card-content button {
  width: 100%;
  margin-bottom: 10px;
  color:#000;
}
