<div class="container">
    <p>Acompanhe suas solicitações</p>
    <table mat-table [dataSource]="solicitacoes" class="mat-elevation-z8">
      <ng-container matColumnDef="fisioterapeuta">
        <th mat-header-cell *matHeaderCellDef> Nome do Fisioterapeuta </th>
        <td mat-cell *matCellDef="let solicitacao"> {{ solicitacao.fisioterapeuta_nome }} </td>
      </ng-container>

      <ng-container matColumnDef="data_solicitacao">
        <th mat-header-cell *matHeaderCellDef> Data da Solicitação </th>
        <td mat-cell *matCellDef="let solicitacao"> {{ solicitacao.data_solicitacao | date }} </td>
      </ng-container>

      <ng-container matColumnDef="caso_clinico">
        <th mat-header-cell *matHeaderCellDef> Caso Clínico </th>
        <td mat-cell *matCellDef="let solicitacao"> {{ solicitacao.descricao_caso_clinico }} </td>
      </ng-container>

      <ng-container matColumnDef="servico">
        <th mat-header-cell *matHeaderCellDef> Serviço Solicitado </th>
        <td mat-cell *matCellDef="let solicitacao"> {{ solicitacao.especialidade_servico }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let solicitacao"> {{ solicitacao.status }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

