.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 232, 235, 0.8);
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  background-color: #40aab2;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons button {
  color:#000;
  background-color: #fff;
  transition: color 0.3s ease;
}

.buttons button:hover {
  background-color: #388e99;
}

.redirect-message {
  text-align: center;
  font-size: 14px;
}

.redirect-message a {
  color: #021c1d;
  text-decoration: underline;
  cursor: pointer;
}

.redirect-message a:hover {
  color: #d6e3e4;
}

p {
  font-size: 25px;
  font-weight: 500;
  margin-left: 70px;
}
