<div class="container">
    <div class="content">
      <div class="section">
        <mat-card-title>FisioFlash</mat-card-title>
        <h5>Fisioterapia a Domicílio: cuide da sua saúde sem sair de casa.</h5>
        <p>Atendimento personalizado, sem filas e sem deslocamentos. Nossos profissionais vão até você.</p>
        <button class="button" mat-raised-button routerLink="/cadastro">Cadastre-se agora</button>
      </div>

      <div class="section">
        <div class="servicos">
        <h4>Nosso Serviços</h4>
        <ul>
          <li><mat-icon>chevron_right</mat-icon> Massoterapia</li>
          <li><mat-icon>chevron_right</mat-icon> Geriatria</li>
          <li><mat-icon>chevron_right</mat-icon> Traumato-ortopedia</li>
          <li><mat-icon>chevron_right</mat-icon> Acupuntura</li>
          <li><mat-icon>chevron_right</mat-icon> Quiropraxia</li>
          <li><mat-icon>chevron_right</mat-icon> Neurofisioterapia</li>
        </ul>       
      </div>
      </div>

      <div class="section">
        <h4>Como funciona</h4>
        <ul>
          <li><mat-icon>chevron_right</mat-icon> Faça seu cadastro</li>
          <li><mat-icon>chevron_right</mat-icon> Escolha o profissional</li>
          <li><mat-icon>chevron_right</mat-icon> Relate seu caso</li>
          <li><mat-icon>chevron_right</mat-icon> Aguarde nosso atendimento</li>
      </ul>
      </div>
    </div>
  </div>
  
  
