<div class="container">
    <div class="content">
      <div class="section">
        <mat-card-title>FisioFlash</mat-card-title>
        <h5>Fisioterapia a Domicílio: cuide da sua saúde sem sair de casa.</h5>
        <p>Atendimento personalizado, sem filas e sem deslocamentos. Nossos profissionais vão até você.</p>
        <button class="button" mat-raised-button routerLink="/cadastro">Cadastre-se agora</button>
      </div>
  
      <div class="section">
        <div class="funciona">
        <h4>Como funciona</h4>
        <ul>
          <li>Faça seu cadastro</li>
          <li>Escolha o profissional</li>
          <li>Relate seu caso</li>
          <li>Aguarde nosso atendimento</li>
        </ul>
      </div>
      </div>

      <div class="section">
        <h4>Nosso Serviços</h4>
        <ul>
          <li>Massoterapia</li>
          <li>Traumato-ortopedia</li>
          <li>Quiropraxia</li>
          <li>Neurofisioterapia</li>
        </ul>
      </div>
    </div>
  </div>
  
  
