<mat-toolbar color="primary">
  <a style="font-family:'Garamond'; font-size: 30px" routerLink="/"><img alt="" class="logo" src="assets/images/logo.svg" height="60"></a>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active">Início</a>
    <a mat-button routerLink="/cadastro" routerLinkActive="active">Cadastro</a>

    <!-- Condicional para Paciente -->
    <a *ngIf="isPaciente()" mat-button routerLink="/servico" routerLinkActive="active">Serviço</a>
    <a *ngIf="isPaciente()" mat-button routerLink="/dashboard-paciente" routerLinkActive="active">Área do usuário</a>

    <!-- Condicional para Fisioterapeuta -->
    <a *ngIf="isFisioterapeuta()" mat-button routerLink="/dashboard-fisioterapeuta" routerLinkActive="active">Área do usuário</a>

    <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="accent" class="footer">
  <span>Contato: fisioflash&#64;contato.com.br </span>
  <span class="spacer"></span>
  <span>© 2024 FisioFlash - Todos os direitos reservados.</span>
</mat-toolbar>
