/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-image: url('assets/images/fisio.jpg'); 
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;
    background-repeat: no-repeat; 
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
